.cart-main-content {
    min-height: 100vh;
    
}

.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.cart-header {
    text-align: center;
    margin-bottom: 2rem;
}

.cart-header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color1);
}

.cart-form {
    display: grid;
    border: 1px solid var(--color4);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.116);
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.cart-items-section {
    color: var(--color2);
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-items-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-bottom: 1px solid  var(--color1);
    padding-bottom: 1rem;
}

.cart-item-detail {
    display: flex;
}

.cart-item-image {
    flex-shrink: 0;
}

.image {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border-radius: 0.25rem;
}

.cart-item-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
}

.cart-item-text {
    display: flex;
    flex-direction: column;
}

.cart-item-title h3 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color1);
}

.cart-item-category p {
    font-size: 0.875rem;
    color: var(--color1);
}

.cart-item-price p {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 160, 0);
}

.cart-item-actions {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-button {
    height: 2rem;
    width: 2rem;
    background-color: white;
    border: 1 px solid  var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantity-input {
    width: 2rem;
    text-align: center;
    border: 1px solid  var(--color1);;
    margin: 0 0.5rem;
}

.remove-button-container {
    margin-left: 1rem;
}

.remove-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #e74c3c;
    cursor: pointer;
}

.trash-icon {
    margin-right: 0.25rem;
}

.order-summary-section {
    border-radius: 0.5rem;
    padding: 1rem;
}

.order-summary-header {
    border-bottom: 1px solid  var(--color1);
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color1);
    margin-bottom: 1rem;
}

.order-summary-details {
    display: flex;
    flex-direction: column;
}

.summary-detail,
.summary-total {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    
}

.buy-now-container {
    margin-top: 1rem;
    font-weight: 600;
    color: #27ae60;
    display: flex;
    gap: 1rem;
}

.login-to-buy-button{
    width: 100%;
    color: var(--color5);
    padding: 1rem 1rem;
    background-color: var(--color1);
    border: 1 px solid var(--color1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .cart-form {
        grid-template-columns: 1fr;
    }

    .order-summary-section {
        margin-top: 2rem;
    }
}

@media (max-width: 360px) {
    .cart-container {
        padding: 1rem;
    }

    .cart-header h1 {
        font-size: 1.5rem;
    }

    .image {
        height: 80px;
        width: 80px;
    }

    .quantity-button {
        height: 1.5rem;
        width: 1.5rem;
    }

    .quantity-input {
        width: 1.5rem;
        margin: 0 0.25rem;
    }

    .order-summary-section {
        padding: 0.5rem;
    }

    .order-summary-header {
        font-size: 1rem;
    }
}
